.layout{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
.main{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    .main_content{
        min-width: calc(100% - 236px);
        // max-width: calc(100vw);
        width: 100%;
        .ActionBar{
            width:100%;
            height:2rem;
            display:flex;
            align-items: center;
            padding: 0 1rem;
            border-bottom:1px #f0f0f0 solid;
            .ActionBar_btn{
                cursor: pointer;
                display: flex;
                align-items: center;
                svg{
                    font-size: 1.2rem;
                    &:hover{
                        color: #003a8c;
                    }
                }
            }
        }
        .main_content_children{
            overflow: auto;
            height:calc(100% - 2rem);

        }
    }
}
}